<div id="footer">
	<div id="footer_content">
	    <div id="footer_left">
			<a href="/about_us"><p style="margin-left:3px;">關於我們</p></a> 
			<a href="/contact"><p>聯絡我們</p></a> 
			<a href="/secure"><p>交易安全</p></a> 
			<a href="/privacy"><p>隱私權聲明</p></a> 
			<div id="copyright">X-Sport All Rights Reserved</div>
		</div>
		<div id="footer_right"><p>來Follow粉絲專頁的第一手資訊</p></div>
	</div>
</div>