<div id="header">
	<div id="header_content">
		<a href="/index"><div id="logo">X-Sport 運動用品交易網</div></a>
		<div id="search_section">here is search section</div>
		<a href='/personals/profile'><div id="fb_login"></div></a><p style='line-height:50px; float:right'>使用Facebook帳號登入</p>
	</div>
</div>