<div id="wrapper">

<div id="content">
	<div id="contents">
	<div id="left">
		<div id="classes">
			
			<div id="top_classes">
				<p style="line-height:41px">物品分類</p>
				<!-- <div id="select_new"><p>新品區</p></div> -->
				<!-- <div id="select_old"><p>二手區</p></div> -->
			</div>
			<div id="line"></div>
			<div id="content_classes">
				<div id="classes_left"></div>
				<div id="classes_right">
					<p>單車</p> 
					<p>登山用品</p>
					<p>健身</p>
					<p>籃球</p>
					<p>棒球</p>
					<p>排球</p>
					<p>桌球</p>
					<p>羽球</p>
					<p>慢跑</p> 
					<p>溜冰</p>
					<p>武術</p>
					<p>其他</p>
				</div>
		    </div>
		</div>
		<div id="fans_section">
			<div id="fans_section_top"><p>成為X-Sport粉絲</p></div>
		</div>
	</div>
	<div id="right">
		<div class="pp">> 首頁列表</div>
		<div class="promotes">
			<div class="promote_a"></div>
			<div class="promote_b"></div>
			<div class="promote_c"></div>
		</div>
		<div id="goods">
			<div id="goods_top">
				<div id="goods_top_p"><p>新品區-單車</p></div>
				<div id="order">
					<p>排列</p>
					<div id="order_img">
						<div class="order_p"><p>價格</p></div>
						<!-- <div class="order_logo"></div> -->
						<div class="order_p"><p>｜上架時間</p></div>
						<!-- <div class="order_logo"></div> -->
					</div>
				</div>
				<div id="filter_select">
					<p>全部</p>
					<p>二手</p>
					<p>獨家</p>
				</div>	
			</div>
			<div id="goods_contents">
				<div id="products">
					<div id="item">
						<a href="/introduce"><div id="item_image"><img src="assets/item_sample.jpg" height="135" width="180"/></div></a>
						<a href="/introduce"><div id="item_p"><p>捷安特 全心腳踏車 超高cp值</p></div></a>
						<div id="price">$45000</div>
					</div>
					<div id="item">
						<a href="/introduce"><div id="item_image"><img src="assets/item_sample.jpg" height="135" width="180"/></div></a>
						<a href="/introduce"><div id="item_p"><p>捷安特 全心腳踏車 超高cp值</p></div></a>
						<div id="price">$45000</div>
					</div>
					<div id="item">
						<a href="/introduce"><div id="item_image"><img src="assets/item_sample.jpg" height="135" width="180"/></div></a>
						<a href="/introduce"><div id="item_p"><p>捷安特 全心腳踏車 超高cp值</p></div></a>
						<div id="price">$45000</div>
					</div>
					<div id="item">
						<a href="/introduce"><div id="item_image"><img src="assets/item_sample.jpg" height="135" width="180"/></div></a>
						<a href="/introduce"><div id="item_p"><p>捷安特 全心腳踏車 超高cp值</p></div></a>
						<div id="price">$45000</div>
					</div>
					<!-- <div id="products_line"><hr/></div>					 -->
				
					<div id="item">
						<a href="/introduce"><div id="item_image"><img src="assets/item_sample.jpg" height="135" width="180"/></div></a>
						<a href="/introduce"><div id="item_p"><p>捷安特 全心腳踏車 超高cp值</p></div></a>
						<div id="price">$45000</div>
					</div>
					<div id="item">
						<a href="/introduce"><div id="item_image"><img src="assets/item_sample.jpg" height="135" width="180"/></div></a>
						<a href="/introduce"><div id="item_p"><p>捷安特 全心腳踏車 超高cp值</p></div></a>
						<div id="price">$45000</div>
					</div>
					<div id="item">
						<a href="/introduce"><div id="item_image"><img src="assets/item_sample.jpg" height="135" width="180"/></div></a>
						<a href="/introduce"><div id="item_p"><p>捷安特 全心腳踏車 超高cp值</p></div></a>
						<div id="price">$45000</div>
					</div>
					<div id="item">
						<a href="/introduce"><div id="item_image"><img src="assets/item_sample.jpg" height="135" width="180"/></div></a>
						<a href="/introduce"><div id="item_p"><p>捷安特 全心腳踏車 超高cp值</p></div></a>
						<div id="price">$45000</div>
					</div>
					<!-- <div id="products_line"><hr/></div> -->
					
					<div id="item">
						<a href="/introduce"><div id="item_image"><img src="assets/item_sample.jpg" height="135" width="180"/></div></a>
						<a href="/introduce"><div id="item_p"><p>捷安特 全心腳踏車 超高cp值</p></div></a>
						<div id="price">$45000</div>
					</div>
					<div id="item">
						<a href="/introduce"><div id="item_image"><img src="assets/item_sample.jpg" height="135" width="180"/></div></a>
						<a href="/introduce"><div id="item_p"><p>捷安特 全心腳踏車 超高cp值</p></div></a>
						<div id="price">$45000</div>
					</div>
					<div id="item">
						<a href="/introduce"><div id="item_image"><img src="assets/item_sample.jpg" height="135" width="180"/></div></a>
						<a href="/introduce"><div id="item_p"><p>捷安特 全心腳踏車 超高cp值</p></div></a>
						<div id="price">$45000</div>
					</div>
					<div id="item">
						<a href="/introduce"><div id="item_image"><img src="assets/item_sample.jpg" height="135" width="180"/></div></a>
						<a href="/introduce"><div id="item_p"><p>捷安特 全心腳踏車 超高cp值</p></div></a>
						<div id="price">$45000</div>
					</div>
					<!-- <div id="products_line"><hr/></div> -->
					
					<div id="item">
						<a href="/introduce"><div id="item_image"><img src="assets/item_sample.jpg" height="135" width="180"/></div></a>
						<a href="/introduce"><div id="item_p"><p>捷安特 全心腳踏車 超高cp值</p></div></a>
						<div id="price">$45000</div>
					</div>
					<div id="item">
						<a href="/introduce"><div id="item_image"><img src="assets/item_sample.jpg" height="135" width="180"/></div></a>
						<a href="/introduce"><div id="item_p"><p>捷安特 全心腳踏車 超高cp值</p></div></a>
						<div id="price">$45000</div>
					</div>
					<div id="item">
						<a href="/introduce"><div id="item_image"><img src="assets/item_sample.jpg" height="135" width="180"/></div></a>
						<a href="/introduce"><div id="item_p"><p>捷安特 全心腳踏車 超高cp值</p></div></a>
						<div id="price">$45000</div>
					</div>
					<div id="item">
						<a href="/introduce"><div id="item_image"><img src="assets/item_sample.jpg" height="135" width="180"/></div></a>
						<a href="/introduce"><div id="item_p"><p>捷安特 全心腳踏車 超高cp值</p></div></a>
						<div id="price">$45000</div>
					</div>	
				</div>
			</div>
			
			<div id="page_selection"><p>1 2 3 4 5</p></div>
			
		</div>
	</div>
	</div>
</div>
	
		
</div>