<%= javascript_include_tag "switch.js"%>

<div id="wrapper">

<div id="content">
	<div id="contents">
	<div id="left">
		<div id="classes">
			<div id="top_classes">
				<p style="line-height:41px">物品分類</p>
				<!-- <div id="select_new"><p>新品區</p></div> -->
				<!-- <div id="select_old"><p>二手區</p></div> -->
			</div>
			<div id="line"></div>
			<div id="content_classes">
				<div id="classes_left"></div>
				<div id="classes_right">
					<p>單車</p> 
					<p>登山用品</p>
					<p>健身</p>
					<p>籃球</p>
					<p>棒球</p>
					<p>排球</p>
					<p>桌球</p>
					<p>羽球</p>
					<p>慢跑</p> 
					<p>溜冰</p>
					<p>武術</p>
					<p>其他</p>
				</div>
		    </div>
		</div>
		<div id="fans_section">
			<div id="fans_section_top"><p>成為X-Sport粉絲</p></div>
		</div>
	</div>
	<div id="right">
		<div class="pp">> 首頁列表 - 單車- Giant全新單車</div>
		<div id="goods">
			<div id="goods_top">
				<div id="goods_top_p"><p>新品區-單車</p></div>
				<div id="order">
					<p>排列</p>
					<div id="order_img">
						<div class="order_p"><p>價格</p></div>
						<!-- <div class="order_logo"></div> -->
						<div class="order_p"><p>｜上架時間</p></div>
						<!-- <div class="order_logo"></div> -->
					</div>
				</div>
			</div>
			<!-- goods introduce -->
			<div id="goods_introduce">
				<div id="goods_introduce_top">
					<div id="introduce_left">
						<div id="img_back">
							<div id="item_big_img"><img src="assets/intro_img.jpg" height="375" width="500"></div>
						</div>
					</div>
					<div id="introduce_right">
						<div id="goods_condition"><p>商品狀況</p><h6>全新</h6></div>
						<div id="seller"><p>賣家</p><h6>Jason Ko</h6></div>
						<div class="pay_and_catch">
							<p>付款</p>
							<div class="check">
								<ul>
									<li>面交</li>
									<li>ATM</li>
									<li>貨到付款</li>
								</ul>
							</div>
						</div>
						<div class="pay_and_catch">
							<p>交貨</p>
							<div class="check">
								<ul>
									<li>面交</li>
									<li>ATM</li>
									<li>貨到付款</li>
								</ul>
							</div>
						</div>
						<div id="buy_button"><p>$45000</p></div>
					</div>
				</div>
				<div id="goods_introduce_button">
					<!-- <div id="top_setting">
											<p>商品檔案</p>
											<p>問與答</p>
										</div>
										<hr> -->
					<div id="good_profile_head">
						<p>商品檔案</p>
						<hr style='width:780px'>
					</div>
					<div id="goods_profile">
						goods profile
					</div>
					<div id="ask_answers_head">
						<p>問與答</p>
						<hr style='width:780px'>
					</div>
					<div id="ask_answers">
						ask and answer
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>