<div id="wrapper">

<div id="header">
	<div id="header_content">
		<div id="logo">X-Sport 運動用品交易網</div>
		<div id="search_section">here is search section</div>
		<div id="fb_login"><p>使用Facebook帳號登入</p></div>
	</div>
</div>

<div id="content">
	<div id="contents">
	<div id="left">
		<div id="classes">
			<div id="top_classes">
				<p style="line-height:41px">物品分類</p>
				<!-- <div id="select_new"><p>新品區</p></div> -->
				<!-- <div id="select_old"><p>二手區</p></div> -->
			</div>
			<div id="line"></div>
			<div id="content_classes">
				<div id="classes_left"></div>
				<div id="classes_right">
					<p>單車</p> 
					<p>登山用品</p>
					<p>健身</p>
					<p>籃球</p>
					<p>棒球</p>
					<p>排球</p>
					<p>桌球</p>
					<p>羽球</p>
					<p>慢跑</p> 
					<p>溜冰</p>
					<p>武術</p>
					<p>其他</p>
				</div>
		    </div>
		</div>
		<div id="fans_section">
			<div id="fans_section_top"><p>成為X-Sport粉絲</p></div>
		</div>
	</div>
	<div id="right">
		<div class="pp">> 關於我們</div>
		<div id="goods">
			<div id="goods_top">
				<div id="goods_top_p"><p>關於我們</p></div>
			</div>
			<div id="about_us_section">
				<p>X-Sport 由一群熱愛運動的人所創, 我們創立此平台的目的有兩個:</p>

				<h3>1.分享運動的樂趣</h3>
				<p>熱愛運動的人士, 往往會因為升級身邊的配備, 而留下一些不符所用的器材. 我們希望能透過這個平台, 讓大家交流運動器材與運動樂趣.</p>

				<h3>2.方便購買到所需商品</h3>
				<p>藉由更清楚的商品區分, 讓消費者能夠找到符合自己本身所需的商品. 同時透過全新商品區, 與二手商品區的分隔設置, 讓有品牌的商家也能夠安心進駐, 而不必擔心拍賣商品胡亂喊價的問題. 進而達到買家與賣家的雙贏.</p>

				<h3>我們的願景是讓運動的風氣可以散播出來.</h3>
				<h3>打造一個精實的運動之島!</h3>

				<h3 style="margin-top:10px">如果您有任何想法, 希望讓X-Sport更好.</h3>
				<h3>歡迎您給我們意見與指教. 感恩~</h3>
			</div>

		</div>
	</div>
	</div>
</div>	

</div>