<div id="wrapper">

	<div id="header">
		<div id="header_content">
			<div id="logo">X-Sport 運動用品交易網</div>
			<div id="search_section">here is search section</div>
			<div id="fb_login"><p>使用Facebook帳號登入</p></div>
		</div>
	</div>

	<div id="content">
		<div id="contents">
		<div id="left">
			<div id="classes">
				<div id="top_classes">
					<p style="line-height:41px">物品分類</p>
					<!-- <div id="select_new"><p>新品區</p></div> -->
					<!-- <div id="select_old"><p>二手區</p></div> -->
				</div>
				<div id="line"></div>
				<div id="content_classes">
					<div id="classes_left"></div>
					<div id="classes_right">
						<p>單車</p> 
						<p>登山用品</p>
						<p>健身</p>
						<p>籃球</p>
						<p>棒球</p>
						<p>排球</p>
						<p>桌球</p>
						<p>羽球</p>
						<p>慢跑</p> 
						<p>溜冰</p>
						<p>武術</p>
						<p>其他</p>
					</div>
			    </div>
			</div>
			<div id="fans_section">
				<div id="fans_section_top"><p>成為X-Sport粉絲</p></div>
			</div>
		</div>
		<div id="right">
			<div class="pp">> 聯絡我們</div>
			<div id="goods">
				<div id="goods_top">
					<div id="goods_top_p"><p>聯絡我們</p></div>
				</div>
				<div id="contact_section">
					<form id="contact" action="#" method="post">
						<div id="contact_name">
							<p>姓名</p>
							<input id="nameinput" name="name" type="text">
						</div>
						<div id="contact_email">
							<p>email</p>
							<input id="emailinput" name="email" type="text">
						</div>
						<div id="contact_content">
							<p>內容</p>
							<textarea cols="20" rows="7" id="commentinput" name="comment"></textarea>							
						</div>
						<div id="submit">					
						<input id="submitinput" name="submit" value="送出" class="submit" type="submit">
						</div>
					</form>
				</div>

			</div>
		</div>
		</div>
	</div>
	

</div>
