	<div id="wrapper">

	<div id="content">
		<div id="contents">
		<div id="left">
			<div id="classes">
				<div id="top_classes">
					<p style="line-height:41px">物品分類</p>
					<!-- <div id="select_new"><p>新品區</p></div> -->
					<!-- <div id="select_old"><p>二手區</p></div> -->
				</div>
				<div id="line"></div>
				<div id="content_classes">
					<div id="classes_left"></div>
					<div id="classes_right">
						<p>單車</p> 
						<p>登山用品</p>
						<p>健身</p>
						<p>籃球</p>
						<p>棒球</p>
						<p>排球</p>
						<p>桌球</p>
						<p>羽球</p>
						<p>慢跑</p> 
						<p>溜冰</p>
						<p>武術</p>
						<p>其他</p>
					</div>
			    </div>
			</div>
			<div id="fans_section">
				<div id="fans_section_top"><p>成為X-Sport粉絲</p></div>
			</div>
		</div>
		<div id="right">
			<div class="pp">> 隱私權政策</div>
			<div id="goods">
				<div id="goods_top">
					<div id="goods_top_p"><p>隱私權政策</p></div>
				</div>
				<div id="privacy_section">
					<p>您好, 以下是X-Sport運動商品交易平台的隱私權保護政策, 為了保障您的權益, 請詳細閱讀, 如有任何問題, 也請向我們反應, 我們會儘快回覆.</p>

					<h3>一、隱私權保護政策適用範圍</h3>
					<p>隱私權保護政策內容，包括本網站如何處理在您使用網站服務時收集到的個人識別資料。隱私權保護政策不適用於本網站以外的相關連結網站 ，也不適用於非本網站所委託或參與管理的人員。</p>
					<h3>二、資料收集及使用方式</h3>
					<p>＊本網站在您註冊「 XSPORT.com.tw」之帳號、使用本網站的產品或服務、瀏覽本網站網頁、參加宣傳活動或其他本網站提供之服務時，將會收集您的個人識別資料。本網站也可以從商業夥伴處取得您的個人資料。</p>
					<p>＊收集瀏覽者資料目的是要增加對瀏覽者註冊成為會員的瞭解，提供更佳的服務，除法律另有規定外，絕不販賣或透露給網站以外的其他人或單位。</p>
					<p>＊自動接收並紀錄你瀏覽器上的伺服器數值，包括互聯網協定位址 (IP Address) 、及Cookie中的資料及您要求取用的網頁紀錄。</p>
					<p>＊除了上述，我們也會保留您在上網瀏覽或查詢時，伺服器自行產生的相關記錄，包括您使用連線設備的IP位址、使用時間、使用的瀏覽器、瀏覽及點選資料紀錄等。我們會對個別連線者的瀏覽器予以標示，歸納使用者瀏覽器在本網站內部所瀏覽的網頁，除非您願意告知你的個人資料，否則我們不會，也無法將此項記錄和您對應。請您注意，與本網站連結的其它網站，也可能蒐集您個人的資料。對於您主動提供的個人資訊，這些連結網站有其個別的隱私權保護政策，其資料處理措施不適用於本網站隱私權保護政策，我們也無法負任何連帶責任。</p>
					<p>＊如果你選擇在X-Sport運動商品交易平台上進行購買或出售物品行為，我們會蒐集你的購買及出售物品行為資料，同時也會蒐集其他會員對你的意見，做為我們增進網站服務的參考依據，此記錄為內部應用，絕不對外公布。</p>
					<h3>三、資料分享及公開方式</h3>
					<p>＊本網站不會向任何人出售、出借、出租或是交換您的個人識別資料。</p>
					<p>＊會員應遵守法令或政府機關的要求；且會員在網站上的行為不得違反 XSPORT.com.tw 服務條款或產品、服務的特定使用指南。若遇中華民國法院、檢察署、警察機關、調查機關、主管機關等等公權力機關因個案之要求本網站需提供您的資料或是配合法律案件調查之態樣，本網站將依法令提供。</p>
					<h3>四、Cookies</h3>
					<p>＊Cookies 是伺服端為了區別使用者的不同喜好，經由瀏覽器寫入使用者硬碟的一些簡短資訊。您可以在您使用的伺服器瀏覽器或是IE的「Internet選項」 中選擇修改您瀏覽器對Cookies的接受程度，包括接受所有Cookies、設定Cookies時得到通知、拒絕所有Cookies等三種。如果您選擇拒絕所有的Cookies，您就可能無法使用部份個人化服務，或是參與本網站所提供部份的活動。 依據以下目的及情況，本網站會在本政策原則下，在您瀏覽器中寫入並讀取Cookies：為提供更優良、更個人化的服務，以及方便您參與個人化的互動活動。Cookies 在您註冊或登入時建立，並在您登出時修改。另外為統計瀏覽人數及分析瀏覽模式，以了解網頁瀏覽的情況，做為本網站改善服務的參考依據。</p>
					<h3>五、修改個人資料及密碼及保全</h3>
					<p>＊本網站賦予您可在任何時候修改個人資料及密碼，包括接受本網站以電子報通知您特別活動或新產品的決定權。</p>
					<p>＊為保障您的隱私及安全，您的帳號資料會用密碼保護，然您不可告訴他人您的帳號資料密碼等加密訊息。</p>
					<p>＊在部分情況下本網站使用通行標準的保全系統，保障資料傳送的安全性。</p>
					<h3>六、隱私權保護政策修訂</h3>
					<p>＊本網站可不定時修訂本政策。當我們在使用個人資料的規定上作出修改時，我們會在網頁上張貼告示，通知您相關事項。</p>
				</div>

			</div>
		</div>
		</div>
	</div>		



</div>
