	<div id="wrapper">

	<div id="content">
		<div id="contents">
		<div id="left">
			<div id="classes">
				<div id="top_classes">
					<p style="line-height:41px">物品分類</p>
					<!-- <div id="select_new"><p>新品區</p></div> -->
					<!-- <div id="select_old"><p>二手區</p></div> -->
				</div>
				<div id="line"></div>
				<div id="content_classes">
					<div id="classes_left"></div>
					<div id="classes_right">
						<p>單車</p> 
						<p>登山用品</p>
						<p>健身</p>
						<p>籃球</p>
						<p>棒球</p>
						<p>排球</p>
						<p>桌球</p>
						<p>羽球</p>
						<p>慢跑</p> 
						<p>溜冰</p>
						<p>武術</p>
						<p>其他</p>
					</div>
			    </div>
			</div>
			<div id="fans_section">
				<div id="fans_section_top"><p>成為X-Sport粉絲</p></div>
			</div>
		</div>
		<div id="right">
			<div class="pp">> 交易安全</div>
			<div id="goods">
				<div id="goods_top">
					<div id="goods_top_p"><p>交易安全</p></div>
				</div>
				<div id="secure_section">
					<p>為了保障消費者的交易, 請你在購買前注意以下幾點</p>

					<h3>1. 了解賣家</h3>
					<p>X-Sport是提供一個交易運動商品的平台, 並不能嚴格把關每個賣家的身份, 消費者必須透過以下方式暸解賣家, 並決定是否交易</p>
					<p>*觀察賣家評價</p>
					<p>*閱讀賣家「關於我」</p>
					<p>*詢問賣家問題</p>
					<p>*詳細閱讀賣家的出售條件</p>

					<h3>2. 購買後</h3>
					<p>物品在購買後, X-Sport會主動通知賣家, 也請買家利用悄悄話的功能多與賣家溝通, 進而使交易更為順利.  如發生交易紛爭, 也請立即聯絡我們, X-Sport將採客觀立場予以處理.</p> 給予不當的賣(買)家停權的處置. 

					<h3>3. 付款後</h3>
					<p>付款後請務必保留相關的付款憑證直到收到貨品, 以避免不肖人士以此為詐財工具, X-Sport也將以相關憑證作為交易紛爭的評斷考量.</p>

					<h3>4. 須知</h3>
					<p>如不幸發生交易紛爭, 本網站會予以不當人士停權, 並不負訴訟責任. 但若不當行為(例如:詐騙)影響到本網站聲譽, 本網站保有一切法律追訴權, 也會就受損生育部分求償.</p>
				</div>

			</div>
		</div>
		</div>
	</div>
			
		
</div>