<div id="wrapper">

		<div id="content">
			<div id="contents">
			<div id="left">
				
				<div id="personal_section">
					<div id="personal_section_top"><p>Jason Ko</p></div>
					<div id="personal_picture"><img src="/assets/member_about/person_photo.jpg" height="140" width="140"></div>
					<p>賣家：Jason Ko</p>
					<p>我的商品(10)</p>
					<p>評價</p>
					<p>關於我</p>
				</div>
				<div id="fans_section">
					<div id="fans_section_top"><p>成為X-Sport粉絲</p></div>
				</div>
			</div>
			<div id="right">
				<div class="pp">> 關於Jason Ko</div>
				<div id="goods">
					<div id="goods_top">
						<div id="goods_top_p"><p>關於Jason Ko</p></div>
					</div>
					<div id="personal_about"></div>
				</div>
			</div>
			</div>
		</div>
	

</div>
